
<div class="container">



<h3>Welcome @<%="#{current_user.username}"%>! Here are recent tweets from people you follow:</h3>

<% @tweets.each do |x| %>
  <div class="hero-unit">

  <h5><a href=<%="/profile/#{x.user.id}"%>>@<%=x.user.username%></a></h5>
  <p><%= x.content %></p>
  <a href=<%= "/new_tweet/#{x.id}" %>>retweet!</a>
  </div>
<% end %>

</div> <!-- /container -->



