
<div class="container">

<div class="header_bar">
<li> <a href=<%='/profile'%>>Profile</a></li>

<li> <a href=<%='/new_tweet'%>>write a tweet button</a></li>

<li><a href=<%='/logout'%>>Log out button</a></li>
 </div>

<h3>Welcome @<%="#{current_user.username}"%>! Here are recent tweets from people you follow:</h3>

<% @tweets.each do |x| %>
  <div class="tweet_display_box">
  <ul>
  </li><a href=<%="/profile/#{x.user.id}"%>>@<%=x.user.username%></a></li>
  <li><%= x.content %></li>
  <li><a href=<%='RETWEET BUTTON GOES HERE'%>>retweet!</a></li>
</ul>
</div>
<% end %>

</div> <!-- /container -->

<style type="text/css">
.tweet_display_box {
  border: double;
  border-top-width: 3px;
  border-color: black;
  padding: 3px;
  margin-left: 10px;
  width: 30%;
  margin-bottom: 10px
}

.header_bar {
  display: inline-block;
  list-style: none;
}

.header_bar li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}

</style>


