<h2>@<%= @profile.username %></h2>
<h4><%= @profile.name %></h4>
<img src="<%= gravatar @profile %>">


<ul>
  <li>Tweets <%= @profile.tweets.count %></li>
  <li><a href="/following/<%= @profile.id %>">Following <%= @profile.followed_users.count %></a></li>
  <li><a href="/followers/<%= @profile.id %>">Followers <%= @profile.followers.count %></a></li>
  <% unless current_user.followed_users.include?(@profile) %>
  <li>
    <form action="/follow" method="post">
      <input type="hidden" value="<%= @profile.id %>" name="id">
      <input type="submit" value="Follow">
    </form>
  </li>
  <% end %>
</ul>
<h2>Your Tweets</h2>
<% @profile.tweets.each do |tweet| %>
<div class="tweet"><%= tweet.content %></div>
<% end %>




